Swap out rabl for something a bit more manageable

Rabl is difficult to extend for stores looking to add more information (essentially have to bypass it by adding an attribute to a helper array, or replace the template entirely), is currently used with a caching strategy whereby we still load all of the records from the database on a warm cache, and can swallow errors. Other options that exist can make these issues less difficult, and we can maintain the same api contract as a first pass if we would like so that a major upgrade is not required.


The general consensus north of the 49 is Rabl was a great decision at the time but has not stood up well to customization or expansion.

Its tough to work with, extend and comprehend. We are for scrapping it's existing interface entirely. 

My personal preference for going forward is:
1. Support the current api endpoints for a while longer exactly where they are
2. Start up a new API endpoint *only for the frontend*
   *  use [AMS](https://github.com/rails-api/active_model_serializers) with the [JSON::API](http://jsonapi.org) adapter
   * keep it light and tight for the frontend for easier security separation and auditing
   * drop [Spree::API::BaseController](https://github.com/solidusio/solidus/blob/master/api/app/controllers/spree/api/base_controller.rb) because its terrifying

We've been following this path in one of our stores to great success, which will soonish be in a shareable state. 

Hey guys!  Just wanted to chime in and say hi!  I built [Spree Ember](www.spree-ember.com) and have been chatting with @benmorganio about working to support solidus too.

I originally built spree_ams, which inherits all logic from regular API controllers, but simply responds with AMS instead.  It's a very simple gem, but I think it's worth checking out.  I'd love to stay abrest of this and help out where possible :)

http://spree-ember.com that is

@hhff actually does have a gem that covers the frontend nicely.

There's also lots of discussion about this for Spree RFC #001: https://github.com/spree-contrib/rfcs/pull/1.

Remember that AMS has global configuration, so if stores have AMS already and have it configured it differently that we configure if, this may present a non-trivial upgrade cost to those stores. This is the same reason we can't even consider using something like `simple_form` on the backend.

@jarednorman We can add a `Solidus::BaseSerializer` to "cement" our configuration. That way when someone changes something globally, it won't hurt the serializers.

Or:

Also, we could just use the a certain json format via the content type? This way we can explicitly say to the request: hand us this format, and not the main applications: `Content-Type: application/prs.solidus+json`. See [RFC 6838 Section 3.3](https://tools.ietf.org/html/rfc6838#section-3.3)

Or...

There's also another option where we can make a `Solidus::JsonAdapter` that can "cement" some of the configuration.

This issue was mainly created for using a different tool than RABL, and this has been done with #2147 .